/* 
	Document: main.css
	Created on: 18.08.2012, 20:03:34
	Author: Pascal Muenst
	Description: Purpose of the stylesheet follows.
*/
/* =webfont
*******************************************************************************/
@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,600,800');
@import url('http://fonts.googleapis.com/css?family=Roboto:400,300');

/* =base
*******************************************************************************/
html {  
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  overflow-y: scroll;
}

html, button, input, select, textarea {font-family: sans-serif;}

body {
  margin: 0;
  padding: 0;
  line-height: 1.4;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #100a04;    
  background: #ddd url('../images/bg-body2.gif') fixed;
}
.lt-ie9 body {font-family: Verdana, arial, sans-serif;}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

a:active, a:hover {outline: 0;}

p, h1, h2, h3, h4, h5, h6 {margin: 0 0 1em;}

.wrapper-main {
	margin: 0 auto;
	width: 940px;
}

.header {
	float: left;
	padding: 15px 2px;
}

h1 {
	font-family: Roboto, sans-serif;
	font-weight: 400;
	font-size: 2.0em;
	text-shadow: 0 1px 0 #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 a {
	text-decoration: none;
	color: #777;
}

h1 a:hover {
	color: #555;
}

.nav ul {
	margin: 6px 0;
	padding: 15px 2px;
	list-style: none;
	float: right;
}

.nav ul li {
	float: left;
}

.nav ul li a {
	float: left;
	text-decoration: none;
	height: 34px;
	line-height: 34px;
    font-size: 1.0em;
    margin: 0 0 0 5px;
    color: #333;
    padding: 1px 10px;
    border-radius: 4px;

    transition: background 0.25s;
    -moz-transition: background 0.25s;
    -webkit-transition: background 0.25s;
    -o-transition: background 0.25s;
}

.nav ul li a:hover, .nav ul li a:focus {
    background: #ccc;
    text-shadow: 1px 1px 2px #bbb;
    box-shadow: inset 1px 1px 2px #bbb;
    color: #666;

    padding: 0 9px;
    border: 1px solid #a8a8a8;
}

.nav ul li.active a:hover {
    border: none;
    padding: 1px 10px;
}

.nav ul li.active a {
    background: #333;
    color: #fff;
    border-radius: 4px;
    text-shadow: 1px 1px 2px #000;
    box-shadow: inset 1px 1px 2px #000;
}

.content {
	border-top: 2px solid #d0d0d0;
}

.content h2, .content h3, .feature-list li:before {
	font-family: Roboto, sans-serif;
	font-weight: 300;
}

.content h2 {
	font-size: 30px;
}

.content h3 {
	color: #cc3b75;
	font-size: 1.8em;
	margin: 34px 0 7px 0;
}

.content h4 {
    margin: 0 0 7px 0;
    font-family: Roboto, sans-serif;
    font-weight: 300;
    font-size: 1.6em;
    color: #89a32e;
}

.feature-list {
	counter-reset: li; /* Initiate a counter */
	list-style: none; /* Remove default numbering */
	*list-style: decimal; /* Keep using default numbering for IE6/7 */
	padding: 0 0 0 67px;
	*padding: 0;
}

.feature-list li:before {
	content: counter(li);
	counter-increment: li;
	position: absolute;	
	
	font-weight: 300;
	font-size: 72px;
	height: 72px;
	margin: -5px 0 0 -92px;
	width: 72px;
	padding: 0;
	text-align: right;
	line-height: 1;
	/*color: #b8b8b8;*/
    color: #c5c5c5;
}

.content h2, .content h3, .content p, .content ol, .content ul, .feature-list li:before {
	text-shadow: 0 1px 0 #f4f4f4;
}

.content {
	margin: 0;
	padding: 15px 2px;
}

.content p, .content ol, .content ul {
	color: #555;
	line-height: 1.5;
    font-size: 1.2em;
}

.content ul {
    list-style: square;
}

.content p a {
	color: #3ba1cc;
	text-decoration: none;
	/*font-weight: bold;*/

    transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -webkit-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
}

.content p a:hover, .content p a:active, .content p a:focus {
	/*color: #47c0f2;*/
	text-shadow: 0 1px 0 #f4f4f4, 0 0 6px #47c0f2;
}

.footer {
	border-top: 2px solid #ccc;
	padding: 25px 2px;
	font-size: 12px;
	color: #949494;
	text-shadow: 0 1px 0 #f4f4f4;
}

.footer .right {
    float: right;
    text-align: right;
}

.footer .left {
    float: left;
}

.footer p a {
	color: #757575;
	text-decoration: none;
}

.footer p a:hover {
	color: #565656;
}

code {
	display: block;
	white-space: pre;
	font-size: 12px;
	background: #eee;
	padding: 10px;
	border-left: 4px solid #bbb;
	margin: 0 0 15px 0;
}

/* clearfix */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {clear: both;}
.clearfix {zoom: 1;}
