<h2>Basic usage</h2>
<p>It's very easy to start with the tsFramework. Let's do it together.</p>

<h3>How the framework works</h3>
<p>A request to the framework will be treated like that:</p>
<ol>
    <li>Client requests an URL for e.x. <i>tsfw.localhost/home</i></li>
    <li>Server takes the request and guide it to the <i>tsfw_src/framework.php</i>, here begins the magic</li>
    <li>The framework looks up a route in the file <i>settings/routes.json</i> that matches the URI <i>/home</i></li>
    <li>tsFramework invokes the controller given for the route and gets the response from it</li>
    <li>It sends the response to the client</li>
</ol>
<p>That's already everything you have to know about it.</p>

<h3>How to create a static page</h3>
<p>Okay now we want to create our first static page accessable under the route <i>/basic-usage</i>. For that we do the following:</p>

<ol class="feature-list">
    <li>
        <h4>Create a route entry</h4>
        <p>Open the file <i>site/settings/routes.json</i> in your favourite editor.</p>
        <p>Insert at the end of the file the following code:</p>
        <code>"basic-usage": {
    "pattern": "/basic-usage",
    "controller": "ch:timesplinter:controller:StaticPageController:getPage",
    "method": "GET"
}</code>
        <p>You have to separate the new entry with a comma (,) from the entry before. The <i>StaticPageController:getPage</i> does only look up in the dir <i>site/temapltes/default/pages</i> if a file with the key of the route exists, renders it and sends it as response.</p>
    </li>
    <li>
        <h4>Create the HTML file</h4>
        <p>Now we've to create the file in the path <i>site/temapltes/default/pages</i> and fill it with some content. For e.x. as follows:</p>
        <code>&lt;h1>It works&lt;/h1>
&lt;p>hello world&lt;/p></code>
    </li>
    <li>
        <h4>Et voilà!</h4>
        <p>That's all. Call the URL <i>tsfw.localhost/basic-usage</i> and it should work. The tsFramework will do the whole bunch of other stuff for you.</p>
        <p>If you like to know more about the framework and how to work with it please visit the <a href="/advanced">Advanced</a> site.</p>
    </li>
</ol>