<h2>Tell us something</h2>
<p>Please do not report bugs with this formular. There is a separated <a href="#">bug tracking system</a> in the nighberhood. So for nasty things around the framework try this.</p>

<form method="post" action="?send">
	<dl>
		<dt>Your name</dt>
		<dd><input type="text" class="text" value="" name="name" /><dd>
	</dl>
	<dl>
		<dt>Your e-mail</dt>
		<dd><input type="text" class="text" value="" name="email" /><dd>
	</dl>
	<dl>
		<dt>The message</dt>
		<dd><textarea name="message"></textarea><dd>
	</dl>
	<div class="submit">
		<input type="submit" value="tell us now" />
	</div>
</form>