<h2>Congratulations you got it!</h2>
<p>It seems that the insane PHP framework &laquo;tsFramework&raquo; works on your webserver! Let's start creating your website.</p>
<p>You need help for that? No problem! Visit <a href="#">the website</a> of this framework, write into the <a href="#">forums</a> and read guides in the <a href="#">wiki</a>.
<p>You'll profit from five major advantages during your development but also afterwards.</p>
	
<ol class="feature-list">
	<li>
		<h3>Unbeatable fast</h3>
		<p>The &laquo;tsFramework&raquo; has one in mind: speed. Its light architecture and optimized PHP code programmed by experienced web developers are a good foundation for reaching that aim.</p>
		<p>But for best performance there is also server sided optimization needed. The best PHP script works sluggish if the web server is configured bad. So check your server configuration! Some good advices for tuning your machine you can find <a href="performance.html">here</a>.</p>
	</li>
	<li>
		<h3>Insane flexible</h3>
		<p>Blog, Forum, CMS, e-shop... everything no problem for the &laquo;tsFramework&raquo;. You can use this framework for almost every task you face in daily web development business.</p>
		<p>For some requirements there are propably already some modules you can just download and install on top of your base framework installation. Adapting them to your use should be easy afterwards.</p>
	</li>
	<li>
		<h3>Cheap as hell</h3>
		<p>&laquo;tsFramework&raquo; is scripted in PHP. PHP is supported by more or less every webspace provider and is a webwide standard. PHP web hostings are cheap to get (there are also some for free).</p>
		<p>PHP and the database MySQL are open source and free available. Also the most extensions for this two technologies.</p>
	</li>
	<li>
		<h3>Full control</h3>
		<p>The framework itself is very small and only comes with a "page delivery" module and some core functions like multilingual support and so on. But it also provides uncountable other modules which you can put on top of the framework and extend it's funcitonality if needed. (e.x. database support, form valdation, facebook API, etc.) So you have always the full controll over the components and the ability of your framework installation.</p>
	</li>
	<li>
		<h3>Custom Tags</h3>
		<p>JSF is bullshit, we all know that. But there is one thing which nobody will miss in PHP which JSF has: Custom tags. Well PHP has it now too. (At least the &laquo;tsFramework&raquo;.)</p>
		<p>Now you can create your own HTML tags which include for e.x. program logic and render a specific component like a HTML table (already filled with data from - let's say - a database) or something like that.</p>
	</li>
</ol>